<!--  app toolbar session -->

<app-app-toolbar></app-app-toolbar>

<!-- these are use for displaying custom toast -->
<p-toast [style]="{ marginTop: '80px' }"></p-toast>
<p-toast position="top-right" key="Rapports"></p-toast>

<!-- Report session -->

<ul class="flex-container">
  <li class="flex-item chart-container">
    <!--  bar chart  session -->

    <p-chart
      type="bar"
      width="600px"
      height="470px"
      [data]="dataUsers"
    ></p-chart>
  </li>
  <li class="flex-item chart-container">
    <!--  doughnut  session -->
    <p-chart
      type="doughnut"
      width="600px"
      height="470px"
      [data]="dataUsers"
    ></p-chart>
  </li>
  <li class="flex-item chart-container">
    <!--  line chart  session -->

    <p-chart
      type="line"
      width="600px"
      height="470px"
      [data]="dataUsers"
    ></p-chart>
  </li>
  <li class="flex-item chart-container">
    <!--  polarArea chart  session -->
    <p-chart
      type="polarArea"
      width="600px"
      height="470px"
      [data]="dataNbCards"
    ></p-chart>
  </li>
</ul>
