.custom-map {
  margin: 2% 30% 30% 5%;
  width: 90%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  border: solid, 0.5px;
}

.map-title {
  margin: 2% 50% 1% 45%;
  width: max-content;
}

.teacher-img {
  width: 50px;
  height: 50px;
}

.teacher-img img {
  width: 100%;
}

.submit-map {
  margin: 4%;
}

.btn-map-action {
  margin: 2%;
}
