<!--  app toolbar session -->

<app-app-toolbar></app-app-toolbar>

<!--  map toolbar session -->

<p-toolbar>
  <div class="p-toolbar-group-left"></div>
  <div class="p-toolbar-group-right">
    <button
      type="button"
      pButton
      label="Zoom In"
      icon="pi pi-plus"
      (click)="zoomIn(gmap.getMap())"
      class="p-mr-3 menubar"
    ></button>
    <button
      type="button"
      pButton
      label="Zoom Out"
      icon="pi pi-minus"
      class="p-mr-3 menubar"
      (click)="zoomOut(gmap.getMap())"
    ></button>
    <button
      type="button"
      pButton
      label="Clear"
      icon="pi pi-times"
      (click)="clear()"
      class="p-mr-3 menubar"
    ></button>
  </div>
</p-toolbar>

<!--  custom map session -->

<div CLASS="map-title">CARTE INTERACTIVE</div>

<div class="custom-map">
  <p-toast [style]="{ marginTop: '80px' }"></p-toast>

  <p-gmap
    #gmap
    [style]="{ width: '100%', height: '700px', 'margin-bottom': '1em' }"
    [options]="options"
    [overlays]="overlays"
    (onMapClick)="handleMapClick($event)"
    (onOverlayClick)="handleOverlayClick($event)"
    (onOverlayDragEnd)="handleDragEnd($event)"
  ></p-gmap>
  <!--  map add form session -->
  <form [formGroup]="mapsForm" (ngSubmit)="onSubmit(mapsForm.value)">
    <p-dialog
      showEffect="fade"
      [(visible)]="dialogVisible"
      header="Ajouter un marker"
      [style]="{ width: '300px' }"
    >
      <div class="p-grid p-fluid submit-map" *ngIf="selectedPosition">
        <div class="p-col-2"><label for="teacherimg">Photo du prof</label></div>
        <div class="p-col-10">
          <input
            id="teacherimg"
            type="text"
            pInputText
            class="form-control"
            formControlName="teacherimg"
          />
          <div class="p-col-2"><label for="title">Nom</label></div>
          <div class="p-col-10">
            <input
              type="text"
              pInputText
              class="form-control"
              id="title"
              formControlName="markertitle"
            />
          </div>

          <div class="p-col-2"><label for="lat">Lat</label></div>
          <div class="p-col-10">
            <input
              id="lat"
              type="text"
              pInputText
              class="form-control"
              formControlName="roomlat"
              placeholder="{{ roomlat }}"
            />
          </div>

          <div class="p-col-2"><label for="lng">Lng</label></div>
          <div class="p-col-10">
            <input
              id="lng"
              type="text"
              pInputText
              class="form-control"
              formControlName="roomlng"
              placeholder="{{ roomlat }}"
            />
          </div>
        </div>
        <div class="p-col-2"><label for="teachername">Profile prof</label></div>
        <div class="p-col-10">
          <input
            id="teachername"
            type="text"
            pInputText
            class="form-control"
            formControlName="teachername"
          />
        </div>
        <div class="p-col-2"><label for="draggable">Drag and drop</label></div>
        <div class="p-col-10">
          <input
            id="draggable"
            type="text"
            pInputText
            class="form-control"
            formControlName="draggable"
          />
        </div>
      </div>
      <p-button
        icon="pi pi-plus"
        (click)="onSubmit(newMarker)"
        class="p-mr-3 btn-map-action"
      ></p-button>
      <p-button
        icon="pi pi-pencil"
        (click)="toggleEditMode()"
        class="p-mr-3 btn-map-action p-button-info"
      ></p-button>
      <p-button
        icon="pi pi-trash"
        (click)="deleteMap(marker)"
        class="p-mr-3 btn-map-action p-button-danger"
      ></p-button>
    </p-dialog>
  </form>
  <!--  map edi  form session -->
  <form
    [formGroup]="mapsEditForm"
    *ngIf="iseditable === 'true'"
    (ngSubmit)="editMap(mapsEditForm.value)"
  >
    <p-dialog
      showEffect="fade"
      [(visible)]="dialogVisible"
      header="Ajouter un marker"
      [style]="{ width: '300px' }"
    >
      <div class="p-grid p-fluid submit-map" *ngIf="selectedPosition">
        <div class="p-col-2"><label for="teacherimg">Photo du prof</label></div>
        <div class="p-col-10">
          <input
            id="teacherimg"
            type="text"
            pInputText
            class="form-control"
            formControlName="teacherimg"
          />
          <div class="p-col-2"><label for="title">Nom</label></div>
          <div class="p-col-10">
            <input
              type="text"
              pInputText
              class="form-control"
              id="title"
              formControlName="markertitle"
            />
          </div>

          <div class="p-col-2"><label for="lat">Lat</label></div>
          <div class="p-col-10">
            <input
              id="lat"
              type="text"
              pInputText
              class="form-control"
              formControlName="roomlat"
              placeholder="{{ roomlat }}"
            />
          </div>

          <div class="p-col-2"><label for="lng">Lng</label></div>
          <div class="p-col-10">
            <input
              id="lng"
              type="text"
              pInputText
              class="form-control"
              formControlName="roomlng"
              placeholder="{{ roomlat }}"
            />
          </div>
        </div>
        <div class="p-col-2"><label for="teachername">Profile prof</label></div>
        <div class="p-col-10">
          <input
            id="teachername"
            type="text"
            pInputText
            class="form-control"
            formControlName="teachername"
          />
        </div>
        <div class="p-col-2"><label for="draggable">Drag and drop</label></div>
        <div class="p-col-10">
          <input
            id="draggable"
            type="text"
            pInputText
            class="form-control"
            formControlName="draggable"
          />
        </div>
      </div>
      <p-button
        icon="pi pi-plus"
        (click)="onSubmit(newMarker)"
        class="p-mr-3 btn-map-action"
      ></p-button>
      <p-button
        icon="pi pi-check"
        (click)="editMap(marker)"
        class="p-mr-3 btn-map-action p-button-success"
      ></p-button>
      <p-button
        icon="pi pi-trash"
        (click)="deleteMap(marker)"
        class="p-mr-3 btn-map-action p-button-danger"
      ></p-button>
    </p-dialog>
  </form>
</div>
