/**
You can add global styles to this file, and also import other style files */

.footer {
  position: relative;
  bottom: 0;
  left: 0;
}

.login {
  margin: 10% 30% 30% 30%;
  width: 30%;
  text-align: center;
  vertical-align: middle;
}

.input-class {
  margin-bottom: 7%;
}
.conexion {
  color: #495057;
  margin: 0% 30% 30% 30%;
  width: 30%;
  text-align: center;
  vertical-align: middle;
}
.btn-connect {
  margin: 0% 30% 30% 30%;
}
.menubar {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-off {
  margin-left: 20px;
  margin-right: 30px;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 3px;
}

.separator {
  margin-top: 3%;
}
