<!--  app toolbar session -->

<app-app-toolbar></app-app-toolbar>

<!--  Side session -->
<div class="home-slide">
  <p-carousel
    [value]="images"
    [numVisible]="3"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-image pTemplate="item">
      <div class="image-box">
        <img
          class="img-slide"
          src="../../../assets/images/index3.jpeg"
          [alt]="image.id"
        />
      </div>
    </ng-template>
  </p-carousel>
</div>
