.contact-container {
    margin: 10% 30% 30% 30%;
    width: 1024px;
}

.p-formgroup-inline {
    width: 100%;
}

.p-field {
    margin-bottom: 1em !important;
    width: 90%;
}

.layout-content .content-section.implementation>h3 {
    font-weight: 600;
}

textarea {
    width: 70%;
    height: auto;
}

.contact-input {
    width: 80%;
    margin: 1%;
}

.contact-txt {
    width: 80%;
    margin: 1%;
}

.btn-submit {
    margin: 4% 0% 3% 1%;
    width: 72%;
}