<!--  app toolbar session -->

<app-app-toolbar></app-app-toolbar>

<!-- Contact  form session -->
<p-toast [style]="{ marginTop: '80px' }"></p-toast>
<p-toast position="top-right" key="Contacts"></p-toast>

<div class="contact-container">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
    <div class="p-fluid p-formgrid p-grid">
      <label for="firstname">Firstname</label>
      <div class="p-field p-col-12 p-md-4">
        <input
          id="firstname"
          class="contact-input"
          type="text"
          pInputText
          formControlName="firstname"
          required
        />
      </div>
      <label for="lastname">Lastname</label>
      <div class="p-field p-col-12 p-md-4">
        <input
          id="lastname"
          class="contact-input"
          type="text"
          pInputText
          formControlName="lastname"
          required
        />
      </div>
      <label for="email">Email</label>
      <div class="p-field p-col-12 p-md-4">
        <input
          id="email"
          class="contact-input"
          type="text"
          pInputText
          formControlName="email"
          required
        />
      </div>
      <label for="message">Message</label>
      <div class="p-field p-col-12 p-md-4">
        <textarea
          id="message"
          class="contact-txt"
          type="text"
          pInputTextarea
          formControlName="message"
        ></textarea>
      </div>
    </div>
    <button pButton class="btn-submit" type="submit" label="Envoyer"></button>
  </form>

  <div class="custom-map">
    <p-toast [style]="{ marginTop: '80px' }"></p-toast>

    <p-gmap
      #gmap
      [style]="{
        width: '72%',
        height: '320px',
        'margin-bottom': '1em',
        'margin-left': '1%'
      }"
      [options]="options"
      [overlays]="overlays"
      (onMapClick)="handleMapClick($event)"
      (onOverlayClick)="handleOverlayClick($event)"
      (onOverlayDragEnd)="handleDragEnd($event)"
    ></p-gmap>

    <button
      type="button"
      pButton
      label="Clear"
      icon="pi pi-times"
      (click)="clear()"
      style="margin-right: 0.3em"
    ></button>
    <button
      type="button"
      pButton
      label="Zoom In"
      icon="pi pi-plus"
      (click)="zoomIn(gmap.getMap())"
      style="margin-right: 0.3em"
    ></button>
    <button
      type="button"
      pButton
      label="Zoom Out"
      icon="pi pi-minus"
      (click)="zoomOut(gmap.getMap())"
    ></button>

    <p-dialog
      showEffect="fade"
      [(visible)]="dialogVisible"
      header="New Location"
      [style]="{ width: '300px' }"
      >>
      <div class="p-grid p-fluid" *ngIf="selectedPosition">
        <div class="p-col-2"><label for="title">Label</label></div>
        <div class="p-col-10">
          <input type="text" pInputText id="title" [(ngModel)]="markerTitle" />
        </div>

        <div class="p-col-2"><label for="lat">Lat</label></div>
        <div class="p-col-10">
          <input
            id="lat"
            type="text"
            readonly
            pInputText
            [ngModel]="selectedPosition.lat()"
          />
        </div>

        <div class="p-col-2"><label for="lng">Lng</label></div>
        <div class="p-col-10">
          <input
            id="lng"
            type="text"
            readonly
            pInputText
            [ngModel]="selectedPosition.lng()"
          />
        </div>

        <div class="p-col-2"><label for="drg">Drag</label></div>
        <div class="p-col-10">
          <p-checkbox
            [(ngModel)]="draggable"
            binary="true"
            [style]="{ 'margin-top': '.25em' }"
          ></p-checkbox>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <div>
          <button
            type="button"
            pButton
            label="Add Marker"
            icon="pi-plus"
            (click)="addMarker()"
          ></button>
        </div>
      </ng-template>
    </p-dialog>
  </div>
</div>
