<!--  app toolbar session -->

<app-app-toolbar></app-app-toolbar>

<!--  admin toolbar session -->

<p-toolbar>
  <div class="p-toolbar-group-left"></div>
  <div class="p-toolbar-group-right">
    <p-button
      label="Ajout utilisateur"
      icon="pi pi-plus"
      (click)="addUser(user)"
      class="p-mr-3 menubar"
    ></p-button>
  </div>
</p-toolbar>

<!--  display custom toast -->
<p-toast [style]="{ marginTop: '80px' }"></p-toast>
<p-toast position="top-right" key="Utilisateurs"></p-toast>
<!--  all users  table session -->
<div class="card">
  <p-table [value]="users" dataKey="id" editMode="row">
    <ng-template pTemplate="header">
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Username</th>
        <th>N°carte</th>
        <th>Nb Cours</th>
        <th>Nb Prof</th>
        <th>Prof ?</th>
        <th>Email</th>
        <th>Mot de Passe</th>
        <th style="width: 8rem"></th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-user
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="user">
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="user.firstname"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.firstname }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="user.lastname"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.lastname }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="user.username"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.username }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="user.userCurrentCard_id"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.userCurrentCard_id }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="user.nbcourses" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.nbcourses }}
            </ng-template>
          </p-cellEditor>
        </td>

        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="user.nbteachers"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.nbteachers }}
            </ng-template>
          </p-cellEditor>
        </td>

        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown
                [options]="isTeacher"
                [(ngModel)]="selectedUser"
                optionLabel="label"
              ></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.isteacher }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="user.email" required />
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.email }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="password"
                [(ngModel)]="user.password"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.password }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="text-align: center">
          <button
            *ngIf="!editing"
            pButton
            pRipple
            type="button"
            pInitEditableRow
            icon="pi pi-pencil"
            (click)="onRowEditInit(user)"
            class="p-button-rounded p-button-text"
          ></button>

          <button
            *ngIf="!editing"
            pButton
            pRipple
            type="button"
            pInitEditableRow
            icon="pi pi-trash"
            (click)="deleteUser(user)"
            class="p-button-rounded p-button-text"
          ></button>
          <button
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pSaveEditableRow
            icon="pi pi-check"
            (click)="onRowEditSave(user, ri)"
            class="p-button-rounded p-button-text p-button-success p-mr-2"
          ></button>
          <button
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pCancelEditableRow
            icon="pi pi-times"
            (click)="onRowEditCancel(user, ri)"
            class="p-button-rounded p-button-text p-button-danger"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
