
<!--  app toolbar session -->

<app-app-toolbar></app-app-toolbar>

<!--  Login  session -->
<div class="login"> 
    <div class="conexion">
        CONNEXION
    </div>
    <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-4 input-class">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Username">
            </div>
        </div>
    
        <div class="p-col-12 p-md-4 input-class">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input type="email" pInputText placeholder="Email">
            </div>
        </div>
    
        <div class="p-col-12 p-md-4 input-class">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input type="password" pInputText placeholder="Password">
            </div>
        </div>
    </div>
    <!--  submit form  width a button -->
    <button pButton class="btn-connect" type="button" label="Connexion" (click)="handleClick()"></button>

</div>

<!-- Footer -->
<div class="footer">
    <div class="copyright">
        Copyright @kassusAHONOUKOUN january 2021 :)
    </div>
</div>