<!--  Menubar session -->
<p-menubar>
    <ng-template pTemplate="start">
        <div class="user-profile">
            <img src="../../../assets/photo_kassus.jpg" (click)="goHome()" class="p-mr-2">
        </div>
    </ng-template>
    <button pButton label="{{customHtmlLabelService.report}}" class="menubar" (click)="getReport()"
        icon="pi pi-chart-line"></button>
    <button pButton label="{{customHtmlLabelService.map}}" class="menubar" (click)="getMap()"
        icon="pi pi-map-marker"></button>
    <button pButton label="{{customHtmlLabelService.login}}" class="menubar" (click)="connexion()"
        icon="pi pi-fw pi-user"></button>
    <button pButton label="{{customHtmlLabelService.admin}}" class="menubar" (click)="manageUser()"
        icon="pi pi-fw pi-user-plus"></button>
    <button pButton label="{{customHtmlLabelService.contact}}" class="menubar" (click)="feedBack()"
        icon="pi pi-fw pi-globe"></button>
    <button pButton label="{{customHtmlLabelService.off}}" class="btn-off" (click)="disConnect()"
        icon="pi pi-power-off"></button>
    <input type="text" class="menubar" pInputText placeholder="{{customHtmlLabelService.search}}">
</p-menubar>