<!--  Menubar session -->
<p-menubar>
    <ng-template pTemplate="start">
        <div class="user-profile">
            <img src="../../../assets/photo_kassus.jpg" class="p-mr-2">
        </div>
    </ng-template>

    <button pButton label="{{customHtmlLabelService.back}}" class="btn-off" (click)="back()"
        icon="pi pi-step-backward"></button>


</p-menubar>
<div class="pagenotfound">
    <img class="page-img" src="../../../assets/404-error.png" class="p-mr-2">
</div>